@model IEnumerable<Daxx.Trial.MVC.Models.TradeInfoViewModel>

<h3>Sales</h3>

<div class="trades-list">
    <ul>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    <div class="row">
                        <li class="col-md-1">
                            @Html.DisplayFor(m => item.Id)
                        </li>
                        <div class="col-md-11" align="left">
                            @Html.DisplayFor(m => item.Name)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            @Html.DisplayFor(m => item.Category)
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(m => item.City)
                        </div>
                        <div class="col-md-2">
                            @Html.DisplayFor(m => item.CountryCode)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayFor(m => item.Url)
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <br />
            </div>
        }
    </ul>
</div>